.loaderFish {
        display: inline-block;
        width: 80px; /* Ajusta el ancho según sea necesario */
        height: 30px; /* Ajusta la altura según sea necesario */
        /* Añade estilos adicionales para tu pez o peces */
        background-color: #237db5; /* Cambia el color de fondo si es necesario */
        border-radius: 15px;
    }
    
    .loaderFish::before,
    .loaderFish::after {
        content: '';
        display: inline-block;
        width: 20px; /* Ajusta el ancho de las partes del pez según sea necesario */
        height: 20px; /* Ajusta la altura de las partes del pez según sea necesario */
        background-color: #ffffff; /* Cambia el color de las partes del pez si es necesario */
        border-radius: 50%;
        margin: 0 5px; /* Ajusta el espaciado entre las partes del pez según sea necesario */
    }
    
    .loaderFish::before {
        transform: translateY(-10px);
    }
    
    .loaderFish::after {
        transform: translateY(10px);
    }
    